<div class="jumbotron text-center">


    <p><h5>{{ message }}</h5></p>

    <div ng-controller="beaconController as list">
        <table align="center" valign="middle">
            <tbody ng-repeat="beacon in beacons">
            <tr style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle"; >

            <td>{{beacon.name}}</td>
            <td><span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px; valign="middle";>{{beacon.venue}}</span></td>
            <td>{{beacon.platform}}</td>

            <td></td>
            <td> </td>
            <td> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>