<div class="content" ng-controller="beaconController as list" id="beaconsList">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">List of Bluetooth Beacons</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th id="Name">Name</th>
                            <th id="Venue">Venue</th>
                            <th id="Platform">Platform</th>
                            <th id="Active">Active</th>
                            <th id="Remove">Remove</th>
                            <th id="Edit">Edit</th>
                            </thead>
                            <tbody ng-repeat="beacon in beacons" ng-include="getTemplate(beacon)">
                            <tr>

                                <script type="text/ng-template" id="display">
                                <td id="beaconName"><h5>{{beacon.name}}</h5></td>
                                <td id="beaconVenue"><h5>{{beacon.venue}}</h5></td>
                                <td id="beaconPlatform"><h5>{{beacon.platform}}</h5></td>
                                <td id="beaconActive"><h5>{{beacon.active}}</h5></td>
                                <td><a ng-click="delete(beacon.name)" class="pe-7s-trash"></a></td>
                                <td><a ng-click="editBeacon(beacon)" class="pe-7s-edit"></a></td>
                                </script>
                                <script type="text/ng-template" id="edit">
                                    <td><h5>{{beacon.name}}</h5></td>
                                    <td><h5><input type="text" required placeholder="Edit Venue" ng-model="model.selected.venue" /></h5></td>
                                    <td><h5><input type="text" required placeholder="Edit Platform" ng-model="model.selected.platform" /></h5></td>
                                    <td><h5><input type="text" required placeholder="Set Status" ng-model="model.selected.active" /></h5></td>
                                    <td>
                                        <button ng-click="updateVenue(model.selected.venue,model.selected.platform,model.selected.active,beacon)" class="btn btn-warning" style="width: 75px">Save</button>
                                        <button ng-click="reset()" class="btn btn-warning" style="width: 75px">Cancel</button>
                                    </td>
                                    <td></td>
                                </script>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div>
                    <button ng-click="listActive()" class="btn btn-primary" id="listActive">List Active</button>
                    <button ng-click="listInActive()" class="btn btn-primary" id="listDormant">List Dormant</button>
                    <button ng-click="viewAll()" class="btn btn-primary" id="viewAll">View All</button>
                    <button onclick="window.location.href='#/newbeacon'" class="btn btn-primary" id="addBeacon">Add</button>
                    <!--<form id="custom-search-form" class="form-search form-horizontal pull-right" ng-submit="findByName(search,beacon)">
                        <div class="input-append span12">
                            <input type="text" class="search-query" placeholder="Search" ng-model="search">
                            <button type="submit" class="btn"><i class="pe-7s-search"></i></button>
                        </div>
                    </form>-->
                </div>
            </div>
        </div>
    </div>
</div>