<div class="content" ng-controller="beaconController as list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">List of Bluetooth Beacons</h4>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                            <thead>
                            <th>Name</th>
                            <th>Venue</th>
                            <th>Platform</th>
                            <th>Active</th>
                            <th>Remove</th>
                            <th>Edit</th>
                            </thead>
                            <tbody ng-repeat="beacon in beacons">
                            <tr>
                                <td><h5>{{beacon.name}}</h5></td>
                                <td><h5>{{beacon.venue}}</h5></td>
                                <td><h5>{{beacon.platform}}</h5></td>
                                <td><h5>{{beacon.active}}</h5></td>
                                <td><a ng-click="delete(beacon.name)" class="pe-7s-trash"></a></td>
                                <td><a ng-click="editBeacon(beacon)" class="pe-7s-edit"></a></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>