<div class="content">
    <div class="container-fluid">
        <table class="table table-hover table-striped"><tr><td>
            <div>
                <div class="card">
                    <div class="header">
                        <h4 class="title"><small>Beacons</small></h4>
                        <hr>

                        <ul class="square-menu nav">
                            <li>
                                <a href="#/beacons" class="slink-x"><i class="fa fa-eye" title="View All Beacons"></i></a>
                            </li>
                            <li>
                                <a href="#/newbeacon" class="slink-y"><i class="fa fa-plus"></i></a>
                            </li>
                            <li>
                                <a href="#" class="slink-y"><i class="fa fa-thumbs-o-up"></i></a>
                            </li>
                            <li>
                                <a href="#" class="slink-x"><i class="fa fa-thumbs-o-down"></i></a>
                            </li>
                            <br style="clear:both;"/>
                        </ul>
                    </div>
                    </div>
                </div>
            </td>
        <td>
                 <div class="card">
                    <div class="header">
                        <h4 class="title"><small>Products</small></h4>
                        <hr>

                            <ul class="square-menu">
                                <li>
                                    <a href="#/beacons" class="slink-x"><i class="fa fa-eye"></i></a>
                                </li>
                                <li>
                                    <a href="#/addbeacon" class="slink-y"><i class="fa fa-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#/active" class="slink-y"><i class="fa fa-thumbs-o-up"></i></a>
                                </li>
                                <li>
                                    <a href="#/dormant" class="slink-x"><i class="fa fa-thumbs-o-down"></i></a>
                                </li>
                                <br style="clear:both;"/>
                            </ul>

                         </div>
                        </div>

                 </td>
                <tr>
                    <td>
                    <div class="card">
                        <div class="header">
                            <h4 class="title"><small>Vouchers</small></h4>
                            <hr>
                            <ul class="square-menu">
                                <li>
                                    <a href="#/beacons" class="slink-x"><i class="fa fa-eye"></i></a>
                                </li>
                                <li>
                                    <a href="#/addbeacon" class="slink-y"><i class="fa fa-plus"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="slink-y"><i class="fa fa-thumbs-o-up"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="slink-x"><i class="fa fa-thumbs-o-down"></i></a>
                                </li>
                                <br style="clear:both;"/>
                            </ul>
                        </div>
                    </div>
                    </td>
                </tr>
         </table>
    </div>
</div>