<div class="content" id="dashboard">
    <div class="container-fluid">
        <table class="table table-hover table-striped"><tr><td>
            <div>
                <div class="card" id="beaconsPanel">
                    <div class="header">
                        <h4 class="title"><small>Beacons</small></h4>
                        <hr>

                        <ul class="square-menu nav" id="beaconSquareMenu">
                            <li>
                                <a href="#/beacons" class="slink-x"><i class="fa fa-eye" title="View All Beacons"></i></a>
                            </li>
                            <li>
                                <a href="#/newbeacon" class="slink-y"><i class="fa fa-plus" title="Add New Beacon"></i></a>
                                <br>
                            </li>

                        </ul>
                    </div>
                    </div>
                </div>
            </td>
        <td>
                 <div class="card" id="productsPanel">
                    <div class="header">
                        <h4 class="title"><small>Products</small></h4>
                        <hr>

                            <ul class="square-menu" id="productSquareMenu">
                                <li>
                                    <a href="#/products" class="slink-x"><i class="fa fa-eye" title="View All Products"></i></a>
                                </li>
                                <li>
                                    <a href="#/newproduct" class="slink-y"><i class="fa fa-plus" title="Add New Product"></i></a>
                               <br>
                                </li>
                                <br style="clear:both;"/>
                            </ul>

                         </div>
                        </div>

                 </td>
                <tr>
                    <td>
                    <div class="card" id="vouchersPanel">
                        <div class="header">
                            <h4 class="title"><small>Vouchers</small></h4>
                            <hr>
                            <ul class="square-menu" id="voucherSquareMenu">
                                <li>
                                    <a href="#/vouchers" class="slink-x"><i class="fa fa-eye" title="View All Vouchers"></i></a>
                                </li>
                                <li>
                                    <a href="#/newvoucher" class="slink-y"><i class="fa fa-plus" title="Add New Voucher"></i></a>
                                    <br>
                                </li>
                                <br style="clear:both;"/>
                            </ul>
                        </div>
                    </div>
                    </td>
                </tr>
         </table>
    </div>
</div>