<!-- REF: https://stackoverflow.com/questions/17753927/angular-boolean-value-in-a-select-box-->
<div class="content" ng-controller="addController as list" id="newBeacon">
    <h4>{{message}}</h4>
        <form ng-submit="addBeacon()" style="width: 900px" id="beaconForm">
            <div class="form-group" align="center">
                <input id="nameInput" type="string" class="form-control" placeholder="Name" maxlength="50" ng-model="formData.name" required></input>
                <input id="venueInput" type="string" class="form-control" placeholder="Venue" maxlength="50" ng-model="formData.venue" required></input>
                <input id="platformInput" type="string" class="form-control" placeholder="Platform" maxlength="50" ng-model="formData.platform" required></input>
                <label><h4><small>Set Beacon Active</small></h4></label>
                <select class="form-control" ng-model="formData.active" required>
                    <option value="{{true}}" ng-selected="formData.active === true">True</option>
                    <option value="{{false}}" ng-selected="formData.active === false">False</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary" id="submit">Submit</button>
        </form>
</div>